.highlight {
  background-color: #ffff00;
}

.a {
  background-color: #ffacac;
}

.b {
  background-color: #00ff00;
}

.c {
  background-color: #8f8fff;
}

.d {
  background-color: #ffff00;
}

.e {
  background-color: #ffa8ff;
}

.f {
  background-color: #00ffff;
}

.background-noise {
  background-color: #000000;
  color: white;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background-color: lightblue;
}
